<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mellow.mapper.mellowMapper">
	<select id="userLogin" parameterType="com.mellow.domain.UserVO"
		resultType="com.mellow.domain.UserVO">
		select * from tbl_user where user_id=#{user_id} and user_pw=#{user_pw}
	</select>

	<insert id="userJoin" parameterType="com.mellow.domain.UserVO">
		insert into
		tbl_user(user_id,user_pw,user_pnum,user_name,user_birthdate,user_gender,user_skintype,user_skintrouble)
		values(#{user_id},#{user_pw},#{user_pnum},#{user_name},#{user_birthdate},#{user_gender},#{user_skintype},#{user_skintrouble})
	</insert>

	<select id="cosmeticList" resultType="com.mellow.domain.CosmeticVO">
		select a.cos_name, b.cos_type,b.open_yn, b.open_date, ADD_MONTHS(b.open_date,c.using_date) as discard_date,exp_date 
		from tbl_cosmetic_info a,tbl_user_cosmetic b, tbl_using_date c 
		where a.barcode = b.barcode 
		and b.cos_type = c.cos_type 
		<!-- and user_id = #{user_id} -->
		order by CASE WHEN discard_date>exp_date THEN exp_date ELSE discard_date END
	</select>

	<select id="applogin" parameterType="com.mellow.domain.UserVO" resultType="com.mellow.domain.UserVO">
		select * from tbl_user where user_id=#{user_id} and
		user_pw=#{user_pw}
	</select>
	
     
</mapper>