<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mellow.mapper.mellowMapper">
    <!-- 로그인 -->
   <select id="userLogin" parameterType="com.mellow.domain.UserVO"
      resultType="com.mellow.domain.UserVO">
      select * from tbl_user where user_id=#{user_id} and
      user_pw=#{user_pw}
   </select>

   <!-- 회원가입 -->
   <insert id="userJoin" parameterType="com.mellow.domain.UserVO">
      insert into
      tbl_user(user_id,user_pw,user_pnum,user_name,user_birthdate,user_gender,user_skintype,user_skintrouble)
      values(#{user_id},#{user_pw},#{user_pnum},#{user_name},#{user_birthdate},#{user_gender},#{user_skintype},#{user_skintrouble})
   </insert>

   <select id="applogin" parameterType="com.mellow.domain.UserVO"
      resultType="com.mellow.domain.UserVO">
      select * from tbl_user where user_id=#{user_id} and
      user_pw=#{user_pw}
   </select>

   <!-- 화장품 리스트 출력(전체) -->
   <select id="cosmeticList"
      resultType="com.mellow.domain.CosmeticVO">
      select b.req_seq, a.cos_name, b.cos_type,b.open_yn, b.open_date,
      ADD_MONTHS(b.open_date,c.using_date) as discard_date,exp_date, a.cos_file
      from tbl_cosmetic_info a,tbl_user_cosmetic b, tbl_using_date c
      where a.barcode = b.barcode
      and b.cos_type = c.cos_type
      and user_id = #{user_id}
      order by CASE WHEN discard_date>exp_date THEN exp_date ELSE
      discard_date END
   </select>
   
   <!-- 화장품 리스트 출력(미개봉) -->
   <select id="coslistClose"
      resultType="com.mellow.domain.CosmeticVO">
      select b.req_seq, a.cos_name, b.cos_type,b.open_yn, b.open_date,
      exp_date as discard_date, exp_date,a.cos_file
      from tbl_cosmetic_info a,tbl_user_cosmetic b, tbl_using_date c
      where a.barcode = b.barcode
      and b.cos_type = c.cos_type
      and b.open_yn ='N'
      and user_id = #{user_id}
      order by exp_date
   </select>
   
   <!-- 화장품 리스트 출력(개봉) -->
   <select id="coslistOpen"
      resultType="com.mellow.domain.CosmeticVO">
      select b.req_seq,a.cos_name, b.cos_type,b.open_yn, b.open_date,
      ADD_MONTHS(b.open_date,c.using_date) as discard_date,exp_date,a.cos_file
      from tbl_cosmetic_info a,tbl_user_cosmetic b, tbl_using_date c
      where a.barcode = b.barcode
      and b.cos_type = c.cos_type
      and b.open_yn = 'Y'
      and user_id = #{user_id}
      order by CASE WHEN discard_date>exp_date THEN exp_date ELSE
      discard_date END
   </select>



   <!-- 바코드 인식으로 상품명 출력 -->
   <select id="barcodeRead" parameterType="String" resultType="com.mellow.domain.cosmeticinfoVO">
      select * from tbl_cosmetic_info where barcode = #{barcode}
   </select>

   <!-- 화장품 등록 -->
   <insert id="registCos" parameterType="com.mellow.domain.CosmeticVO">
      insert into
      tbl_user_cosmetic(req_seq,barcode,cos_type,exp_date,open_yn,open_date,user_id)
      values(
      req_seq.nextval,#{barcode},#{cos_type},#{exp_date},#{open_yn},#{open_date},#{user_id}
      )
   </insert>
   

   
   <!-- 미개봉에서 개봉으로 바꿨을 때 -->
   <update id="btnOpenApp" parameterType="com.mellow.domain.CosmeticVO">
       update tbl_user_cosmetic set open_date = sysdate, open_yn='Y' where req_seq=#{req_seq}
   </update>
   
   <!-- 삭제 선택했을 때 -->
   <delete id="btnDelete" parameterType="com.mellow.domain.CosmeticVO">
       delete from tbl_user_cosmetic where user_id=#{user_id} and req_seq = #{req_seq}
   </delete>
   
   <!-- 삭제 선택했을 때 -->
   <!-- user_id도 받아와야함 -->
   <delete id="btnDeleteApp" parameterType="com.mellow.domain.CosmeticVO">
       delete tbl_user_cosmetic where req_seq=#{req_seq}
   </delete>
   
   <!-- 화장품 선택 시 각각 화장품의 상세정보 내역 -->
   <select id="cosInfo" parameterType="String" resultType="com.mellow.domain.cosmeticinfoVO">
      select cos_name, cos_type,
      brand_name, cos_dosage, cos_effect, cos_spf, cos_pa
      from
      tbl_cosmetic_info where cos_name = #{cos_name}
   </select>
   
   <!-- 추천 화장품 -->
   <select id="cosRecommend" parameterType="com.mellow.domain.CosmeticVO" resultType="com.mellow.domain.CosmeticVO">
       select a.cos_name, a.cos_file, a.cos_effect
       from tbl_cosmetic_info a, tbl_user_cosmetic b
       where a.barcode = b.barcode
       and user_id = #{user_id}
       and cos_effect = #{cos_effect}
   </select>
   
   
   <!-- 화장품 API따온 값 넣기 -->
   <update id="cosInfoUpdate" parameterType="com.mellow.domain.cosmeticinfoVO">
       update tbl_cosmetic_info set brand_name=#{brand_name}, cos_dosage = #{cos_dosage}, cos_effect = #{cos_effect},
       cos_spf = #{cos_spf},cos_pa = #{cos_pa}
       where cos_name =#{cos_name}
   </update>
   
   <!-- 문의사항에서 입력한 값을 저장 -->
    <insert id="incuiryInsert" parameterType="com.mellow.domain.csVO">
        insert into tbl_cs (q_seq, q_subject, q_date, q_content, user_id)
      values (q_seq.nextval, #{q_subject}, sysdate, #{q_content}, #{user_id})
    </insert>
    
    <!-- 리스트를 출력하기 위한 sql문 -->
    <select id="csList" resultType="com.mellow.domain.csVO">
        select * from tbl_cs
        where user_id = #{user_id}
    </select>

</mapper>